#!/usr/bin/make -f
# -*- makefile -*-

ifneq (,$(filter parallel=%,$(DEB_BUILD_OPTIONS)))
	NUMJOBS ?= $(patsubst parallel=%,%,$(filter parallel=%,$(DEB_BUILD_OPTIONS)))
else
	NUMJOBS ?= 1
endif

export INSTALL_ROOT=$(shell pwd)
SB_TOP := $(shell pwd | sed -re "s/(.*)\/build\/packages(.*)/\1/")
export LD_LIBRARY_PATH := $(LD_LIBRARY_PATH):$(INSTALL_ROOT)/usr/lib

%:
	dh $@

override_dh_auto_clean:
	(cd ${SB_TOP}; scons -j${NUMJOBS} -c --opt=production vrouter/dpdk)

override_dh_auto_build:
	(cd ${SB_TOP}; scons -j${NUMJOBS} --opt=production vrouter/dpdk)

override_dh_auto_install:
	mkdir -p ${INSTALL_ROOT}/usr/bin
	cp ${SB_TOP}/build/production/vrouter/dpdk/contrail-vrouter-dpdk ${INSTALL_ROOT}/usr/bin/
