#!/usr/bin/make -f

%:
	dh $@ --with python2

# Temporary get-orig-source
# https://github.com/Juniper/contrail-neutron-plugin/releases tag list is empty (so uscan doesn't work (debian/watch)).
#
PACKAGE = neutron-plugin-contrail-agent
SRC_PACKAGE = contrail-neutron-plugin
SRC_VERSION := $(shell dpkg-parsechangelog | sed -ne 's/^Version: \(\([0-9]\+\):\)\?\(.*\)-.*/\3/p')
TARBALL = $(PACKAGE)_$(SRC_VERSION).orig.tar.gz
get-orig-source:
	rm -rf get-orig-source $(TARBALL)
	mkdir get-orig-source
	wget -q https://github.com/Juniper/contrail-neutron-plugin/archive/master.zip -O get-orig-source/master.zip
	cd get-orig-source; unzip master.zip
	GZIP=--best tar czf $(TARBALL) -C get-orig-source $(SRC_PACKAGE)-master
	mv $(PACKAGE)_$(SRC_VERSION).orig.tar.gz ../
	cp -r get-orig-source/$(SRC_PACKAGE)-master/* .
	rm -rf get-orig-source
	echo "../$(TARBALL) created"

.PHONY: get-orig-source
