[receive]
	requireChangeId = true
[project]
	state = active
[submit]
	mergeContent = true
[access "refs/heads/*"]
	label-Approved = +0..+1 group contrail-packages-core
	label-Code-Review = -2..+2 group contrail-packages-core
	workInProgress = group contrail-packages-core
[access "refs/tags/*"]
	create = group contrail-packages-core
	pushTag = group contrail-packages-core
