Source: contrail-web-core
Section: web
Priority: optional
Maintainer: OpenContrail developers <dev@lists.opencontrail.org>
Uploaders: Raj Reddy <rajreddy@juniper.net>
Build-Depends: debhelper (>= 9)
Standards-Version: 3.9.5
Vcs-Browser: https://github.com/Juniper/contrail-web-core
Homepage: https://github.com/Juniper/contrail-web-core/

Package: contrail-web-core
Architecture: amd64
Depends: nodejs-legacy, redis-server, ${misc:Depends}
Description: OpenContrail WebUI Core
 OpenContrail Web UI for the management of Contrail network virtualization
 solution. This module interacts with other components of both Contrail network
 virtualization solution and underlying orchestration systems like Openstack,
 Cloudstack.
 .
 The API requests from web client to web server and web server to other
 components are REST based.
 .
 The code that implements various features of the Web UI (such as Dashboard,
 Configuration, Monitoring, Reporting) is available in a separate code
 repository Contrail Web Controller.
