#!/usr/bin/make -f

SB_TOP := $(shell pwd | sed -re "s/(.*)\/build\/packages(.*)/\1/")
INSTALL_ROOT := $(shell pwd)

%:
	dh $@

override_dh_auto_build:
	(cd ${SB_TOP}/contrail-web-core && make package REPO=${SB_TOP}/contrail-web-core)
	cp -r -a ${SB_TOP}/contrail-web-core/Gruntfile.js ${INSTALL_ROOT}
	cp -r -a ${SB_TOP}/contrail-web-core/keys ${INSTALL_ROOT}
	cp -r -a ${SB_TOP}/contrail-web-core/package.json ${INSTALL_ROOT}
	cp -r -a ${SB_TOP}/contrail-web-core/webroot ${INSTALL_ROOT}
	cp -r -a ${SB_TOP}/contrail-web-core/jobServerStart.js ${INSTALL_ROOT}
	cp -r -a ${SB_TOP}/contrail-web-core/node_modules ${INSTALL_ROOT}
	cp -r -a ${SB_TOP}/contrail-web-core/src ${INSTALL_ROOT}
	cp -r -a ${SB_TOP}/contrail-web-core/webServerStart.js ${INSTALL_ROOT}
	cp -r -a ${SB_TOP}/contrail-web-core/config ${INSTALL_ROOT}
