#!/usr/bin/make -f

#

export INSTALL_ROOT=$(shell pwd)
PACKAGE := contrail-heat
SRC_PACKAGE := contrail-heat
SRC_VERSION := $(shell dpkg-parsechangelog | sed -ne 's/^Version: \(\([0-9]\+\):\)\?\(.*\)-.*/\3/p')
TARBALL := $(PACKAGE)_$(SRC_VERSION).orig.tar.gz

%:
	echo "src ver = $(SRC_VERSION) path=`pwd`"
	dh $@ --with python2

override_dh_auto_build:
	(cd ${SB_TOP}/openstack/contrail-heat; python setup.py install --root=${INSTALL_ROOT})
