Source: contrail-nova-driver
Section: python
Priority: optional
Maintainer: OpenContrail developers <dev@lists.opencontrail.org>
Uploaders: Sebastien Badia <seb@sebian.fr>
Build-Depends: debhelper (>= 9),
               python-all (>= 2.6.6-3~),
               python-setuptools
Standards-Version: 3.9.5
Vcs-Browser: https://github.com/Juniper/contrail-nova-driver/
Vcs-Git: git://github.com/Juniper/contrail-nova-driver.git
Homepage: https://github.com/Juniper/contrail-nova-driver/

Package: contrail-nova-driver
Architecture: amd64
Pre-Depends: dpkg (>= 1.15.6~)
Depends: ${misc:Depends}, ${python:Depends}
Recommends: ${python:Recommends}
Description: OpenStack Nova compute-node driver for OpenContrail
 OpenContrail is a network virtualization solution that provides an overlay
 virtual-network to virtual-machines, containers or network namespaces.
 .
 This package contains the OpenStack Nova compute-node driver for OpenContrail.
