Source: ceilometer-plugin-contrail
Section: python
Priority: optional
Maintainer: OpenContrail developers <dev@lists.opencontrail.org>
Uploaders: Megh Bhatt <meghb@juniper.net>
Build-Depends: debhelper (>= 9), python-all (>= 2.6.6-3~), python-setuptools
Standards-Version: 3.9.5
Vcs-Browser: https://github.com/Juniper/contrail-ceilometer-plugin/
Vcs-Git: git://github.com/Juniper/contrail-ceilometer-plugin.git
Homepage: https://github.com/Juniper/contrail-ceilometer-plugin/

Package: ceilometer-plugin-contrail
Architecture: all
Pre-Depends: dpkg (>= 1.15.6~)
Depends: python-ceilometer, ${misc:Depends}, ${python:Depends}
Recommends: ${python:Recommends}
Description: OpenContrail plugin for OpenStack Ceilometer
 Ceilometer aims to deliver a unique point of contact for billing systems to
 aquire all counters they need to establish  customer billing, accross all
 current and future OpenStack components. The delivery of counters must
 be tracable and auditable, the counters must be easily extensible to support
 new projects, and agents doing data collections should be
 independent of the overall system.
 .
 (A ceilometer is an instrument that measures cloud coverage.)
 .
 This package contains the OpenContrail plugin for ceilometer
