#!/usr/bin/make -f

SB_TOP := $(shell pwd | sed -re "s/(.*)\/build\/packages(.*)/\1/")
INSTALL_ROOT := $(shell pwd)
export REPO=${SB_TOP}/contrail-web-controller,webController

%:
	dh $@

override_dh_installinit:
	dh_installinit
	dh_installinit --name=contrail-webui-jobserver
	dh_installinit --name=contrail-webui-webserver

override_dh_auto_build:
	# We can't use make package directly because it tries to fetch third party
	# from network which is not available during build
	(cd ${SB_TOP}/contrail-web-core; \
	./generate-files.sh 'prod-env' $(REPO))

override_dh_install:
	cp -r -a contrail-web-controller/webroot ${INSTALL_ROOT}
	dh_install
