#!/usr/bin/make -f

%:
	dh $@

override_dh_installinit:
	dh_installinit
	dh_installinit --name=contrail-webui-jobserver
	dh_installinit --name=contrail-webui-webserver
	
BRANCH=--branch R1.10
TAGS=tags/v1.10
SRC_PACKAGE = contrail-web-controller
SRC_VERSION := $(shell dpkg-parsechangelog | sed -ne 's/^Version: \(\([0-9]\+\):\)\?\(.*\)/\3/p')
TARBALL = $(SRC_PACKAGE)_$(SRC_VERSION).orig.tar.gz
DEB_DIR := $(shell pwd)

get-orig-source:
	if [ "$(BRANCH)x" != "x" ] ; then \
	    echo "Building $(BRANCH)... "; \
	else \
	    echo "Building mainline... "; \
	fi
	rm -rf get-orig-source ../$(TARBALL)
	mkdir get-orig-source
	cd get-orig-source;git clone $(BRANCH) git@github.com:Juniper/contrail-webui-third-party
	if [ "$(TAGS)x" != "x" ] ; then \
	    cd get-orig-source/contrail-webui-third-party;git checkout $(TAGS); \
	fi
	cd get-orig-source/contrail-webui-third-party;python ./fetch_packages.py
	cd get-orig-source;git clone $(BRANCH) git@github.com:Juniper/contrail-web-core.git;
	if [ "$(TAGS)x" != "x" ] ; then \
	    cd get-orig-source/contrail-web-core;git checkout $(TAGS); \
	fi
	cd get-orig-source;git clone $(BRANCH) git@github.com:Juniper/contrail-web-controller.git;
	if [ "$(TAGS)x" != "x" ] ; then \
	    cd get-orig-source/contrail-web-controller;git checkout $(TAGS); \
	fi
	cd get-orig-source/contrail-web-core;make package REPO=$(DEB_DIR)/get-orig-source/contrail-web-controller,webController
	GZIP=--best tar czf ../$(TARBALL) -C get-orig-source/$(SRC_PACKAGE) .
	rm -rf get-orig-source
	echo "../$(TARBALL) created"

.PHONY: get-orig-source
