Source: ifmap-python-client
Section: python
Priority: optional
Maintainer: OpenContrail developers <dev@lists.opencontrail.org>
Uploaders: Sebastien Badia <seb@sebian.fr>
Build-Depends: debhelper (>= 9),
               python-all (>= 2.6.6-3~),
               python-setuptools,
               unzip
Standards-Version: 3.9.5
Vcs-Browser: https://github.com/Juniper/contrail-packages/
Vcs-Git: git://github.com/Juniper/contrail-packages.git
Homepage: https://github.com/ITI/ifmap-python-client/

Package: ifmap-python-client
Architecture: all
Pre-Depends: dpkg (>= 1.15.6~)
Depends: ${misc:Depends}, ${python:Depends}
Recommends: ${python:Recommends}
Description: Python library for building IF-MAP clients.
 It supports the Trusted Computing Group IF-MAP protocol v.2.0
 There is no support for IF-MAP 1.0 or 1.1 and there are no plans
 to support those versions.
 .
 Currently Implemented:
 .
 * Session: newSession, endSession, renewSession
 * Publish: Update, Notify, Delete
 * Identities: IP, MAC, Device, Access Request, Identity, Custom Identifier
 * Metadata: IF-MAP metadata and custom namespace metadata
 * Search: Search on all of the above IDs
 * Subscribe: SubscribeUpdate, SubscribeDelete
 * Purge: PurgeRequest
 * Poll: PollRequest
