Source: contrail
Section: net
Priority: optional
Maintainer: OpenContrail developers <dev@lists.opencontrail.org>
Standards-Version: 3.9.5
Homepage: https://github.com/Juniper/contrail-controller/
Vcs-Git: git://github.com/Juniper/contrail-controller.git
Vcs-Browser: https://github.com/Juniper/contrail-controller/
Build-Depends: autoconf,
               automake,
               bison,
               debhelper (>= 8.0.0),
               flex,
               libcurl4-openssl-dev,
               libexpat-dev,
               libgettextpo0,
               libtool,
               make,
               python-all (>= 2.7),
               python-dev,
               scons (>= 2.1.0),
               vim-common
Build-Depends-Indep:
XS-Python-Version: >= 2.7

Package: contrail-analytics
Architecture: any
Depends: cassandra,
         contrail-lib (= ${source:Version}),
         python-redis,
         python-xml2dict,
         redis-server (>= 2.6.13-1),
         ${misc:Depends},
         ${python:Depends}
Description: OpenContrail analytics software collects events and flow
 information from compute-nodes and other OpenContrail components and
 makes the information available in a time-series database.

Package: contrail-config
Architecture: all
Depends: cassandra,
         python-bitarray (>= 0.8.0),
         python-bottle (>= 0.11.6),
         python-contrail (= ${source:Version}),
         python-geventhttpclient,
         python-kazoo (>= 1.3.1),
         python-keystoneclient,
         python-kombu,
         python-ncclient,
         python-netifaces,
         python-novaclient,
         python-pycassa,
         python-requests (>= 1.1.0),
         python-stevedore (>= 0.14.1),
         python-zookeeper,
         zookeeper,
         ${misc:Depends},
         ${python:Depends}
Description: OpenContrail configuration management. OpenContrail is a network
 virtualization solution that provides an overlay virtual-network to
 virtual-machines, containers or network namespaces.

Package: contrail-control
Depends: contrail-lib (= ${source:Version}), ${misc:Depends}, ${shlib:Depends}
Architecture: any
Description: OpenContrail control-node is responsible to distribute
 configuration and routing information to the compute
 nodes. Control-nodes peers with each other or with external routers in
 order to exchange routing information via the BGP routing protocol.

Package: contrail-compute
Depends: contrail-lib (= ${source:Version}),
         contrail-vrouter (= ${source:Version}),
         ${misc:Depends},
         ${shlib:Depends}
Architecture: any
Description: The package contrail-compute provides the OpenContrail
 compute-node user space agent.

Package: python-contrail
Architecture: all
Section: python
Depends: ${misc:Depends}, ${python:Depends}
Description: The package python-contrail provides the OpenContrail
 API library.

Package: contrail-lib
Architecture: any
Depends: ${misc:Depends}
Description: The package contrail-lib provides a support libraries used by
 OpenContrail control and compute nodes.

Package: contrail-vrouter
Architecture: any
Depends: ${misc:Depends}
Description: The package contrail-vrouter provides the OpenContrail
 linux kernel module.
