#!/usr/bin/make -f
# -*- makefile -*-

ifneq (,$(filter parallel=%,$(DEB_BUILD_OPTIONS)))
	NUMJOBS ?= $(patsubst parallel=%,%,$(filter parallel=%,$(DEB_BUILD_OPTIONS)))
else
	NUMJOBS ?= 1
endif

export INSTALL_ROOT=$(shell pwd)
SB_TOP := $(shell pwd | sed -re "s/(.*)\/build\/packages(.*)/\1/")

export LD_LIBRARY_PATH := $(LD_LIBRARY_PATH):$(INSTALL_ROOT)/usr/lib

DEB_UPSTREAM_VERSION=$(shell dpkg-parsechangelog | sed -rne 's,^Version: ([0-9]:)*([^-]+).*,\2,p')

package-dkms=contrail-vrouter-dkms

TARGETS=control-node:node_mgr \
        opserver:node_mgr     \
        vrouter:node_mgr      \
        database:node_mgr     \
        src:nodemgr

%:
	dh $@ --with python2

override_dh_auto_build:
	cd debian/manpages; ronn -r *.ronn
	(cd ${SB_TOP}; scons -j${NUMJOBS} --opt=production --root=${INSTALL_ROOT} install)
	mkdir -p ${INSTALL_ROOT}/_debian/tmp
	(cd usr/src/vrouter && tar zcf ${INSTALL_ROOT}/_debian/tmp/contrail-vrouter-$(DEB_UPSTREAM_VERSION).tar.gz .)
	sed "s/__VERSION__/$(DEB_UPSTREAM_VERSION)/g" debian/dkms.conf.in > usr/src/vrouter/dkms.conf
	# Node manager
	(cd ${SB_TOP}; scons -j1 --opt=production --root=${INSTALL_ROOT} ${TARGETS})
	(cd ${SB_TOP}/build/production/nodemgr; python setup.py install --root=${INSTALL_ROOT} --install-layout=deb)
	(cd ${SB_TOP}/build/production/control-node; python setup.py install --root=${INSTALL_ROOT} --install-layout=deb)
	(cd ${SB_TOP}/build/production/vnsw/agent/uve; python setup.py install --root=${INSTALL_ROOT} --install-layout=deb)
	(cd ${SB_TOP}/build/production/opserver/node_mgr; python setup.py install --root=${INSTALL_ROOT} --install-layout=deb)
	(cd ${SB_TOP}/build/production/analytics/database; python setup.py install --root=${INSTALL_ROOT} --install-layout=deb)

override_dh_auto_clean:
	dh_auto_clean
	rm -f debian/manpages/*.1

override_dh_install:
	@echo "usr/src/vrouter/* usr/src/vrouter-$(DEB_UPSTREAM_VERSION)" > debian/$(package-dkms).install
	dh_install

override_dh_installinit:
	dh_installinit
	dh_installinit --name=supervisor-analytics
	dh_installinit --name=supervisor-control
	dh_installinit --name=supervisor-config
	dh_installinit --name=supervisor-vrouter --no-restart-on-upgrade
	dh_installinit --name=supervisor-database
